.config/mpd/playlists/
.config/mpd/mpd.db
.config/lf/bookmarks
.config/zsh/plugins/you-should-use/.circleci
.config/zsh/plugins/you-should-use/img
.config/zsh/plugins/you-should-use/tests
.config/zsh/plugins/you-should-use/CHANGELOG.md
.config/zsh/plugins/you-should-use/ISSUE_TEMPLATE.md
.config/zsh/plugins/you-should-use/LICENSE
.config/zsh/plugins/you-should-use/README.rst
config/mpv/history/history.log
config/shell/zsh/plugins/you-should-use/.circleci
config/shell/zsh/plugins/you-should-use/img
config/shell/zsh/plugins/you-should-use/tests
config/shell/zsh/plugins/you-should-use/CHANGELOG.md
config/shell/zsh/plugins/you-should-use/ISSUE_TEMPLATE.md
config/shell/zsh/plugins/you-should-use/LICENSE
config/shell/zsh/plugins/you-should-use/README.rst
