alias lfub='~/.config/lf/scripts/lfub.sh'
alias lg='~/Scripts/game_launcher.sh'

alias yt='~/Scripts/youtube-script.sh watch'
alias yta='~/Scripts/youtube-script.sh watch audio-only'
alias yh='~/Scripts/youtube-script.sh history'
alias yha='~/Scripts/youtube-script.sh history audio-only'
alias ys='ytfzf -L | tee >(wl-copy) && ALWAYS_USE_CLIPBOARD=true ~/Scripts/youtube-script.sh watch'

alias lzg='lazygit'
alias ls='eza'
alias lsa='eza --long --icons -h -all'

alias dlvid='yt-dlp -S res,ext:mp4:m4a --recode mp4 -r 1.5M'
alias dlmp3='yt-dlp -f 'ba' -x --audio-format mp3 -r 1.5M'

alias ..='cd ..'

alias rm='rm -I --preserve-root'
alias mv='mv -iv'
alias cp='cp -iv'
alias ln='ln -i'
alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'

alias mkdir='mkdir -pv'
